<div class="main-block page-help">
<h2>控制</h2>
<li>点击牌可选择一张或多张牌</li>
<li>按【空格键】出牌</li>
<li>没有牌的时候可以按【R】摸牌</li>
<h2>规则</h2>
<p>游戏牌分四种颜色：红色、绿色、蓝色及黄色，每种色有25张牌，其中19张为数字牌（0-9），其余为功能牌："skip"（跳牌）、"draw two"（罚牌2张）及"reverse"（逆转出牌方向），另有黑色特别牌两种："wild"（转色）及"wild draw four"（转色及罚牌4张）。</p>
<p>玩者发出的牌，须与上个玩者发出的牌之颜色或数字相同，但黑色特别牌则无此限制，可任意发出。玩者若无牌可发，则须从牌叠上取牌，若符合可即时发出，<del>否则就当跳过</del>若不符合，则需继续取牌，直到可以出牌。</p>
<p>当玩家打出Draw Two时下家<del>必须抽两张牌</del>若有+2或+4牌则可出牌并将效果叠加，若无则必须取两张牌并跳牌；Wild Draw Four也一样。</p>
<h2>关于</h2>
<p>Developed by Breeswish.<br>
The game is build with Node.js, MongoDB, express, socket.io, and other open-source projects.</p>
<p>The source code is available on <a href="https://github.com/breeswish/UNO-online">Github</a> under the MIT license.</p>
</div>