<div class="main-block page-help">
<h2>游戏控制</h2>
<li>点击牌可选择一张或多张牌</li>
<li>按【空格键】出牌</li>
<li>没有牌的时候可以按【R】摸牌</li>
<h2>关于</h2>
<p>Developed by Breeswish.<br>
The game is build with Node.js, MongoDB, express, socket.io, and other open-source projects.</p>
<p>The source code is available on <a href="https://github.com/breeswish/UNO-online">Github</a> under the MIT license.</p>
</div>