<script type="text/javascript" src="/js/page/index.js"></script>
<div class="main-block page-index">
    <div class="page-left"><div class="left-wrap">

        <div><input type="button" class="button" value="创建房间"></div>
    
    </div></div>
    <div class="page-right">
        
        <div class="module module-profile">
            <div class="module-content">
            <div class="nick"><%= request.session.nick %></div>
            <div class="score">获胜：<%= request.session.data.win %>，失败：<%= request.session.data.lost %></div>
            </div>
        </div>

        <div class="module module-online-users">
            <div class="module-title">在线用户</div>
            <div class="module-content">

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>