<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title><%-title%> - <%-Site%></title>
<script type="text/javascript">if(top.location!==self.location){top.location=self.location}else{if(top!==self){if(confirm("是否重新载入页面?")){top.location.reload()}}};</script>
<link href="/css/base.css?{%=UIRev%}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-container">
<%-body%>
</div>
</body>
</html>