<script type="text/javascript" src="/js/page/login.js"></script>
<div class="main-block page-login">
    <div class="main-left main-sub-block">
        <h2>登录</h2>
        <div class="comp-form">
            
            <div class="form-line"><label>用户名: </label><input type="text" class="textbox role-login-user"></div>
            <div class="form-line"><label>密码: </label><input type="password" class="textbox role-login-pass"></div>
            <div class="form-line-big"><input type="button" class="button button-def role-login" value="登录"></div>

        </div>
    </div>
    <div class="main-right main-sub-block">
        <h2>注册</h2>
        <div class="comp-form">
            
            <div class="form-line"><label>用户名: </label><input type="text" class="textbox role-reg-user"></div>
            <div class="form-line"><label>昵称: </label><input type="text" class="textbox role-reg-nick"></div>
            <div class="form-line"><label>密码: </label><input type="password" class="textbox role-reg-pass"></div>
            <div class="form-line"><label>重复密码: </label><input type="password" class="textbox role-reg-pass-rep"></div>
            <div class="form-line-big"><input type="button" class="button button-def role-reg" value="注册并登录"></div>

        </div>
    </div>
    <div class="clear"></div>
</div>