@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.eot");
  src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans.eot") format('embedded-opentype'), url("../fonts/ptsans.woff") format('woff'), url("../fonts/ptsans.ttf") format('truetype'), url("../fonts/ptsans.svg#PTSans") format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.eot");
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans.eot") format('embedded-opentype'), url("../fonts/opensans.woff") format('woff'), url("../fonts/opensans.ttf") format('truetype'), url("../fonts/opensans.svg#OpenSans") format('svg');
}
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oxygenmono.eot");
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url("../fonts/oxygenmono.eot") format('embedded-opentype'), url("../fonts/oxygenmono.woff") format('woff'), url("../fonts/oxygenmono.ttf") format('truetype'), url("../fonts/oxygenmono.svg#OxygenMono") format('svg');
}
.clear:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.clear {
  *zoom: 1;
}
body {
  font-size: 14px;
  color: #222;
}
body,
input,
select,
textarea,
button {
  font-family: "Open Sans", "Segoe UI", "Lucida Grande", "Lucida", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", "Verdana", "Microsoft YaHei", "微软雅黑";
}
p {
  margin: 0 0 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre,
code,
tt {
  word-wrap: break-word;
  word-break: break-all;
  font-family: "Oxygen Mono", "YaHei Consolas Hybrid", "Consolas", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", "Courier", "monospace", "宋体";
  white-space: pre;
}
/*
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
*/
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
#jSplash {
  position: absolute;
  top: 250px;
  left: 50% !important;
  margin: 0 0 0 -100px;
  width: 200px;
  height: 160px;
}
#ball,
#ball-0,
#ball-1 {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 11;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #55606a;
  -webkit-animation: jump 1s infinite forwards;
  -moz-animation: jump 1s infinite forwards;
  -ms-animation: jump 1s infinite forwards;
  -o-animation: jump 1s infinite forwards;
  animation: jump 1s infinite forwards;
}
#ball-0 {
  left: 20%;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#ball-1 {
  left: 80%;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes jump {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    -webkit-animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}
@-moz-keyframes jump {
  0% {
    top: 0;
    -moz-animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    -moz-animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    -moz-animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    -moz-animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    -moz-animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    -moz-animation-timing-function: ease-in;
  }
}
@-o-keyframes jump {
  0% {
    top: 0;
    -o-animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    -o-animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    -o-animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    -o-animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    -o-animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    -o-animation-timing-function: ease-in;
  }
}
@-ms-keyframes jump {
  0% {
    top: 0;
    -ms-animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    -ms-animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    -ms-animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    -ms-animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    -ms-animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    -ms-animation-timing-function: ease-in;
  }
}
body,
html {
  height: 100%;
}
body {
  background: url("../img/bg.png") no-repeat right bottom;
}
a,
a:visited {
  color: #ff7373;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #ff8f8f;
  text-decoration: underline;
}
a:focus {
  background: #fffce5;
  box-shadow: 0 0 5px #ffdf00;
  outline: 1px solid #ffdf00;
}
.textbox {
  margin: 0;
  box-sizing: content-box;
  height: 16px;
  line-height: 16px;
  outline: 0;
  padding: 4px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ie-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}
.textbox:hover {
  border-color: #b8b8b8;
  background: #fff;
}
.textbox:focus {
  border-color: #ffdf00;
  background: #fff;
  box-shadow: 0 0 5px #ffdf00;
}
.button {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ie-user-select: none;
  user-select: none;
  display: inline-block;
  *display: inline;
  height: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 18px;
  line-height: 16px;
  border: none;
  background: #ebebeb;
  margin: 0 2px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ie-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.button:hover {
  background: #d8d8d8;
}
.button:focus {
  box-shadow: 0 0 5px #ffdf00;
  outline: 1px solid #ffdf00;
  background: #fffce5;
}
.button:active {
  background: #c5c5c5;
}
.button-def {
  background: #ff7373;
  color: #fff;
}
.button-def:hover {
  background: #ff8f8f;
}
.button-def:active {
  background: #ff4e4e;
}
.form-line {
  margin: 5px 0;
}
.main-container {
  padding-top: 60px;
}
.main-block {
  margin: 0 auto;
  width: 860px;
  padding: 20px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  min-height: 500px;
  border-radius: 5px;
  position: relative;
}
.page-login .main-sub-block {
  width: 48%;
}
.page-login .main-left {
  float: left;
  padding-top: 150px;
}
.page-login .main-right {
  float: right;
  padding-top: 120px;
}
.page-login h2 {
  text-align: center;
}
.page-login .comp-form {
  font-size: 15px;
  text-align: center;
}
.page-login .comp-form label {
  display: inline-block;
  width: 80px;
  text-align: left;
}
.page-login .form-line-big {
  margin-top: 20px;
}
.page-index {
  display: none;
}
.page-index .role-create-room {
  margin-bottom: 10px;
}
.page-index .role-create-room-wrapper {
  margin-top: 10px;
  display: none;
}
.page-index .role-create-room-name {
  width: 200px;
}
.page-index .role-create-room-max {
  width: 60px;
}
.page-room {
  display: none;
}
.page-room .role-room-title .button {
  vertical-align: middle;
  margin-left: 10px;
}
.page-right {
  width: 180px;
  float: right;
}
.page-left {
  width: 100%;
  float: left;
  margin-left: -200px;
}
.left-wrap {
  padding-left: 200px;
}
.module {
  margin-bottom: 20px;
}
.module-title {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.module-profile .nick {
  font-size: 1.1em;
  line-height: 1.8em;
}
.module-profile .score {
  font-size: 0.9em;
  color: #666;
  line-height: 1.8em;
}
.module-online-users .module-content,
.module-room-users .module-content {
  padding-left: 10px;
}
.module-online-users .li,
.module-room-users .li {
  font-size: 0.9em;
  color: #666;
  padding: 8px;
  position: relative;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ie-pointer-events: none;
  pointer-events: none;
}
.module-online-users .li:hover,
.module-room-users .li:hover {
  background: rgba(255,0,0,0.05);
  color: #333;
}
.module-online-users .li.highlight,
.module-room-users .li.highlight {
  background: rgba(255,0,0,0.5);
  color: #fff;
}
.module-online-users .li.highlightText,
.module-room-users .li.highlightText {
  color: #f00;
}
.module-online-users .li .indicator,
.module-room-users .li .indicator {
  opacity: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: -5px;
  top: 50%;
  left: -15px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ie-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.module-online-users .indicator.current,
.module-room-users .indicator.current {
  background: rgba(255,0,0,0.9);
  opacity: 1;
}
.module-online-users .indicator.next,
.module-room-users .indicator.next {
  background: rgba(255,0,0,0.9);
  opacity: 0.3;
}
.module-rooms .li {
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background: rgba(255,200,200,0.3);
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.2s linear;
  -ie-transition: background-color 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear;
  line-height: 40px;
  cursor: pointer;
}
.module-rooms .li:hover {
  border-color: #ffc4c4;
  text-decoration: none;
}
.module-rooms .li.disabled {
  background: none;
  border-color: #fff;
  opacity: 0.5;
  cursor: default;
}
.module-rooms .li .name {
  float: left;
  font-size: 17px;
}
.module-rooms .li .max {
  float: right;
}
.preloader {
  display: none;
}
.preloader .item0 {
  background: url("../img/cards.png");
}
.card-wrapper {
  width: 140px;
  height: 200px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
}
.card {
  background: url("../img/cards.png") no-repeat;
  width: 140px;
  height: 200px;
  border-radius: 10px;
}
.card-green-1 {
  background-position: 0px 0px;
}
.card-green-2 {
  background-position: -140px 0px;
}
.card-green-3 {
  background-position: -280px 0px;
}
.card-green-4 {
  background-position: -420px 0px;
}
.card-green-5 {
  background-position: -560px 0px;
}
.card-green-6 {
  background-position: -700px 0px;
}
.card-green-7 {
  background-position: -840px 0px;
}
.card-green-8 {
  background-position: -980px 0px;
}
.card-green-9 {
  background-position: -1120px 0px;
}
.card-green-0 {
  background-position: -1260px 0px;
}
.card-green-empty {
  background-position: -1400px 0px;
}
.card-green-forbid {
  background-position: -1540px 0px;
}
.card-green-reverse {
  background-position: -1680px 0px;
}
.card-green-plus2 {
  background-position: -1820px 0px;
}
.card-red-1 {
  background-position: 0px -200px;
}
.card-red-2 {
  background-position: -140px -200px;
}
.card-red-3 {
  background-position: -280px -200px;
}
.card-red-4 {
  background-position: -420px -200px;
}
.card-red-5 {
  background-position: -560px -200px;
}
.card-red-6 {
  background-position: -700px -200px;
}
.card-red-7 {
  background-position: -840px -200px;
}
.card-red-8 {
  background-position: -980px -200px;
}
.card-red-9 {
  background-position: -1120px -200px;
}
.card-red-0 {
  background-position: -1260px -200px;
}
.card-red-empty {
  background-position: -1400px -200px;
}
.card-red-forbid {
  background-position: -1540px -200px;
}
.card-red-reverse {
  background-position: -1680px -200px;
}
.card-red-plus2 {
  background-position: -1820px -200px;
}
.card-yello-1 {
  background-position: 0px -400px;
}
.card-yello-2 {
  background-position: -140px -400px;
}
.card-yello-3 {
  background-position: -280px -400px;
}
.card-yello-4 {
  background-position: -420px -400px;
}
.card-yello-5 {
  background-position: -560px -400px;
}
.card-yello-6 {
  background-position: -700px -400px;
}
.card-yello-7 {
  background-position: -840px -400px;
}
.card-yello-8 {
  background-position: -980px -400px;
}
.card-yello-9 {
  background-position: -1120px -400px;
}
.card-yello-0 {
  background-position: -1260px -400px;
}
.card-yello-empty {
  background-position: -1400px -400px;
}
.card-yello-forbid {
  background-position: -1540px -400px;
}
.card-yello-reverse {
  background-position: -1680px -400px;
}
.card-yello-plus2 {
  background-position: -1820px -400px;
}
.card-blue-1 {
  background-position: 0px -600px;
}
.card-blue-2 {
  background-position: -140px -600px;
}
.card-blue-3 {
  background-position: -280px -600px;
}
.card-blue-4 {
  background-position: -420px -600px;
}
.card-blue-5 {
  background-position: -560px -600px;
}
.card-blue-6 {
  background-position: -700px -600px;
}
.card-blue-7 {
  background-position: -840px -600px;
}
.card-blue-8 {
  background-position: -980px -600px;
}
.card-blue-9 {
  background-position: -1120px -600px;
}
.card-blue-0 {
  background-position: -1260px -600px;
}
.card-blue-empty {
  background-position: -1400px -600px;
}
.card-blue-forbid {
  background-position: -1540px -600px;
}
.card-blue-reverse {
  background-position: -1680px -600px;
}
.card-blue-plus2 {
  background-position: -1820px -600px;
}
.card-null-changecolor {
  background-position: 0px -800px;
}
.card-null-plus4 {
  background-position: -140px -800px;
}
.stage-card-area {
  height: 300px;
  position: relative;
  z-index: 100;
}
.stage-card-mine {
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  height: 250px;
}
.stage-card-area .card-wrapper {
  position: absolute;
  -webkit-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  -ie-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.stage-card-mine .card-wrapper {
  top: 30px;
  position: absolute;
  opacity: 0.9;
  -webkit-transition: left 0.3s ease-in-out, top 0.1s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out, top 0.1s ease-in-out, opacity 0.3s ease-in-out;
  -ie-transition: left 0.3s ease-in-out, top 0.1s ease-in-out, opacity 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, top 0.1s ease-in-out, opacity 0.3s ease-in-out;
}
.stage-card-mine .card-wrapper.hide {
  left: 0;
  opacity: 0;
}
.stage-card-mine .card-wrapper:hover {
  top: 20px;
}
.stage-card-mine .card-wrapper.selected {
  top: 10px;
  opacity: 1;
}
.turn-indicator {
  width: 500px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: -250px;
  color: #222;
  font-size: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ie-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  line-height: 100px;
  z-index: 99999;
}
.turn-indicator.show {
  opacity: 1;
  top: 30px;
}
.notice-bar {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -10px;
  height: 50px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  -ie-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  z-index: 99999;
}
.notice-bar.show {
  opacity: 1;
  bottom: 0;
}
.notice-content {
  display: inline-block;
  background: rgba(0,0,0,0.8);
  color: #fff;
  box-shadow: 0 0 10px #000;
  padding: 0 10px;
  line-height: 40px;
  font-size: 17px;
  border-radius: 3px;
}
@-moz-keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
@-o-keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
@-ms-keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
@keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }

  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
